:root{
    --font-color: #ddd4d4;
}

body{
    background: #000000c7;
}

.keys{
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
    color: var(--font-color);
}

.key{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 50px;
    border: var(--font-color) 1px solid;
    margin: 300px 10px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
}

kbd{
    margin: 5px 0;
    font-size: 15px;
    
}
